
<h2 class="mb-3">Login</h2>
<form action="/login" method="post" class="col-md-6">
  <%- include('../partials/_errors', { errors }) %>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" name="email" class="form-control" value="<%= values.email || '' %>" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" name="password" class="form-control" required>
  </div>
  <button class="btn btn-primary" type="submit">Login</button>
  <a class="btn btn-link" href="/signup">Need an account? Sign up</a>
</form>
